<br>
<br>

<br>

<div class="container-fluid" style="height: 330vh;">

    <div class="container-fluid title-div">
        <p>Trouvez l'ordinateur qui repond parfaitement a vos besoins</p>
      </div>

      <div class="row">
        <div class="col-md-3 test">
          <app-leftbar></app-leftbar>
            <!-- <div class="text-right refine"> <button class="btn btn-out btn-primary btn-square" id="button-filter">Refine Search</button> </div> -->
        </div>

      <div class="col-md-9 test2">
        <!-- <br> -->

            <app-laptoplist></app-laptoplist>
        

        </div>
      </div>
</div>






















<!-- <div class="container-fluid parent-shop ">
  <app-leftbar>
    
  </app-leftbar>



  <div>
      <hr>
      <h2 class="text-center title text-primary ">Laptops</h2>
      <hr>
      <app-laptoplist></app-laptoplist>
      <br>
      
      <br>
  </div>
</div> -->
