
.container{
    margin-bottom: 2em;
    
}
h2{
    margin-top: 1em;
    text-align: center;
}

.col-sm
{
    text-align: center;
}

.image-container {
    display: inline-block;
    text-align: center;
    cursor: pointer;
    width: 30%;
    border-bottom: 0.1em solid white;
    transition: 0.3s ease-in-out;
}

.image-container:hover
{
    border-bottom: 0.1em solid black;
}
  
  .image-container img {
    width: 5em;
    display: inline-block;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    
  }

