<br>
<br>

<div class="main">
    <div class="image-container">
        <div class="carousel-inner">
            <div class="carousel-item active">      
                <img class="d-block " src={{img}} alt="First slide"> 
                <div class="carousel-caption d-none d-md-block ">
                    <h1>ABOUT US</h1>           
                </div>         
            </div>
        </div>   
    </div>
    <div class="texte">
        <h3 id="compagny-title">Compagny Brief</h3>
        <p class="texte-description">Bienvenue sur notre site de vente d'ordinateurs ! Nous sommes passionnés par la technologie et nous sommes fiers de vous offrir une expérience exceptionnelle dans le domaine de l'informatique.</p>
        <p class="texte-description">Notre mission est de fournir à nos clients des ordinateurs de haute qualité, performants et fiables. Que vous soyez un joueur passionné, un professionnel créatif ou un utilisateur à la recherche d'un ordinateur polyvalent, nous avons ce qu'il vous faut pour répondre à vos besoins spécifiques.</p>
        <p class="texte-description">Nous travaillons en étroite collaboration avec les meilleures marques de l'industrie informatique pour vous proposer une sélection minutieuse d'ordinateurs de pointe. Chaque produit que nous proposons est rigoureusement testé pour garantir une performance optimale et une durabilité exceptionnelle.</p>
        <p class="texte-description">Nous sommes ravis de vous accompagner dans votre recherche de l'ordinateur parfait et de vous aider à exploiter tout votre potentiel numérique. Explorez notre site dès maintenant et découvrez l'excellence de la technologie à portée de main.</p> 
    </div>
    <div class="title-and-stats">
        <h2 id="facts">Fast facts</h2>
        <div class="stats d-flex justify-content-center align-items-center"> 
            <div class="col-md-10">
                <div class="row ">
                    <div class="col-xl-3 col-lg-6">
                        <div class="card l-bg-cherry">
                            <div class="card-statistic-3 p-4">
                                <div class="card-icon card-icon-large"><i class="fas fa-shopping-cart"></i></div>
                                <div class="mb-4">
                                    <h5 class="card-title mb-0">New Orders</h5>
                                </div>
                                <div class="row align-items-center mb-2 d-flex">
                                    <div class="col-8">
                                        <h2 class="d-flex align-items-center mb-0">
                                            3,243
                                        </h2>
                                    </div>
                                    <div class="col-4 text-right">
                                        <span>12.5% <i class="fa fa-arrow-up"></i></span>
                                    </div>
                                </div>
                                <div class="progress mt-1 " data-height="8" style="height: 8px;">
                                    <div class="progress-bar l-bg-cyan" role="progressbar" data-width="25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 25%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6">
                        <div class="card l-bg-blue-dark">
                            <div class="card-statistic-3 p-4">
                                <div class="card-icon card-icon-large"><i class="fas fa-users"></i></div>
                                <div class="mb-4">
                                    <h5 class="card-title mb-0">Customers</h5>
                                </div>
                                <div class="row align-items-center mb-2 d-flex">
                                    <div class="col-8">
                                        <h2 class="d-flex align-items-center mb-0">
                                            15.07k
                                        </h2>
                                    </div>
                                    <div class="col-4 text-right">
                                        <span>9.23% <i class="fa fa-arrow-up"></i></span>
                                    </div>
                                </div>
                                <div class="progress mt-1 " data-height="8" style="height: 8px;">
                                    <div class="progress-bar l-bg-green" role="progressbar" data-width="25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 25%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6">
                        <div class="card l-bg-green-dark">
                            <div class="card-statistic-3 p-4">
                                <div class="card-icon card-icon-large"><i class="fas fa-ticket-alt"></i></div>
                                <div class="mb-4">
                                    <h5 class="card-title mb-0">Ticket Resolved</h5>
                                </div>
                                <div class="row align-items-center mb-2 d-flex">
                                    <div class="col-8">
                                        <h2 class="d-flex align-items-center mb-0">
                                            578
                                        </h2>
                                    </div>
                                    <div class="col-4 text-right">
                                        <span>10% <i class="fa fa-arrow-up"></i></span>
                                    </div>
                                </div>
                                <div class="progress mt-1 " data-height="8" style="height: 8px;">
                                    <div class="progress-bar l-bg-orange" role="progressbar" data-width="25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 25%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6">
                        <div class="card l-bg-orange-dark">
                            <div class="card-statistic-3 p-4">
                                <div class="card-icon card-icon-large"><i class="fas fa-dollar-sign"></i></div>
                                <div class="mb-4">
                                    <h5 class="card-title mb-0">Revenue Today</h5>
                                </div>
                                <div class="row align-items-center mb-2 d-flex">
                                    <div class="col-8">
                                        <h2 class="d-flex align-items-center mb-0">
                                            $11.61k
                                        </h2>
                                    </div>
                                    <div class="col-4 text-right">
                                        <span>2.5% <i class="fa fa-arrow-up"></i></span>
                                    </div>
                                </div>
                                <div class="progress mt-1 " data-height="8" style="height: 8px;">
                                    <div class="progress-bar l-bg-cyan" role="progressbar" data-width="25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 25%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
</div>
<!-- <app-footer></app-footer> -->

